.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
dicionario_das_variaveis_microdados_PNADC_maio_2015.xls
datazoom.social/pnad2019_1_6
datazoom.social/pnad2018_4_7
datazoom.social/pnad2018_4_6
datazoom.social/pnad2019_1_7
datazoom.social/pnad2018_2_6
datazoom.social/pnad2017_4_6
datazoom.social/pnad2017_3_6
datazoom.social/pnad2017_4_5
datazoom.social/pnad2017_2_6
datazoom.social/pnad2017_3_5
datazoom.social/pnad2018_2_7
datazoom.social/pnad2018_1_6
datazoom.social/pnad2018_3_7
datazoom.social/pnad2017_2_5
datazoom.social/pnad2018_3_6
datazoom.social/pnad2017_1_5
datazoom.social/pnad2017_1_6
datazoom.social/pnad2017_1_5
*.xls
datazoom.social/pnad2018_2_6
datazoom.social/pnad2018_1_6
datazoom.social/pnad2017_4_6
datazoom.social/pnad2017_4_5
datazoom.social/pnad2018_3_6
datazoom.social/pnad2018_2_7
datazoom.social/pnad2017_3_6
datazoom.social/pnad2017_3_5
datazoom.social/pnad2017_1_6
datazoom.social/pnad2017_2_5
datazoom.social/pnad2018_4_6
datazoom.social/pnad2018_4_7
datazoom.social/pnad2018_3_7
datazoom.social/pnad2017_2_6
datazoom.social/pnad2019_1_7
datazoom.social/pnad2019_1_6
inst/doc
/doc/
/Meta/
